TIBCO_OM_PlanFragments.module/Schemas/GetOrderDetailsSchemaResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1664182233585" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1664182233585">
  <complexType name="GetOrderDetailsSchemaElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="orderResult">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="amendments">
              <complexType>
                <sequence>
                  <element maxOccurs="unbounded" minOccurs="0" name="orderAmendments">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="creationDate" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="orderRequest">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="extension">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="header">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="customerID" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="deliveryAddress">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="country" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="line1" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="line2" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="line3" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="locality" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="postCode" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="region" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="supplementaryLocation" type="string"/>
                                        </sequence>
                                      </complexType>
                                    </element>
                                    <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="extension">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                                        </sequence>
                                      </complexType>
                                    </element>
                                    <element maxOccurs="1" minOccurs="0" name="invoiceAddress">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="country" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="line1" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="line2" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="line3" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="locality" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="postCode" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="region" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="supplementaryLocation" type="string"/>
                                        </sequence>
                                      </complexType>
                                    </element>
                                    <element maxOccurs="1" minOccurs="0" name="notes" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="orderPriority" type="integer"/>
                                    <element maxOccurs="1" minOccurs="0" name="requiredByDate" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="requiredOnDate" type="string"/>
                                    <element maxOccurs="unbounded" minOccurs="0" name="slaID" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="subscriberID" type="string"/>
                                    <element maxOccurs="unbounded" minOccurs="0" name="udf">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="extension">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                                              </sequence>
                                            </complexType>
                                          </element>
                                          <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                                        </sequence>
                                      </complexType>
                                    </element>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="unbounded" minOccurs="0" name="line">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="action" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="actionMode" type="string"/>
                                    <element maxOccurs="unbounded" minOccurs="0" name="characteristic">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="extension">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                                              </sequence>
                                            </complexType>
                                          </element>
                                          <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                          <element maxOccurs="unbounded" minOccurs="0" name="value">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="1" minOccurs="0" name="extension">
                                                  <complexType>
                                                    <sequence>
                                                      <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                                                    </sequence>
                                                  </complexType>
                                                </element>
                                                <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                                <element maxOccurs="1" minOccurs="0" name="type" type="string"/>
                                                <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                                                <element maxOccurs="1" minOccurs="0" name="valueFrom" type="string"/>
                                                <element maxOccurs="1" minOccurs="0" name="valueTo" type="string"/>
                                              </sequence>
                                            </complexType>
                                          </element>
                                        </sequence>
                                      </complexType>
                                    </element>
                                    <element maxOccurs="1" minOccurs="0" name="customerItemID" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="deliveryAddress">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="country" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="line1" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="line2" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="line3" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="locality" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="postCode" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="region" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="supplementaryLocation" type="string"/>
                                        </sequence>
                                      </complexType>
                                    </element>
                                    <element maxOccurs="1" minOccurs="0" name="extension">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                                        </sequence>
                                      </complexType>
                                    </element>
                                    <element maxOccurs="1" minOccurs="0" name="inventoryID" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="lineNumber" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="linkID" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="notes" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="productID" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="productVersion" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="quantity" type="integer"/>
                                    <element maxOccurs="1" minOccurs="0" name="requiredByDate" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="requiredOnDate" type="string"/>
                                    <element maxOccurs="unbounded" minOccurs="0" name="slaID" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="subscriberID" type="string"/>
                                    <element maxOccurs="unbounded" minOccurs="0" name="udf">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="extension">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                                              </sequence>
                                            </complexType>
                                          </element>
                                          <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                                        </sequence>
                                      </complexType>
                                    </element>
                                    <element maxOccurs="1" minOccurs="0" name="uom" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="orderID" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="orderRef" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="header">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="customerID" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="deliveryAddress">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="country" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="line1" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="line2" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="line3" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="locality" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="postCode" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="region" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="supplementaryLocation" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="extension">
                    <complexType>
                      <sequence>
                        <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="invoiceAddress">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="country" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="line1" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="line2" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="line3" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="locality" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="postCode" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="region" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="supplementaryLocation" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="notes" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="orderPriority" type="integer"/>
                  <element maxOccurs="1" minOccurs="0" name="originator" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="planExpectedCompletionDate" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="planStatus" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="planUniqueID" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="pointOfNoReturn" type="boolean"/>
                  <element maxOccurs="1" minOccurs="0" name="requiredByDate" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="requiredOnDate" type="string"/>
                  <element maxOccurs="unbounded" minOccurs="0" name="slaID" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="status" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="statusChanged" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="submittedDate" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="subscriberID" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="suspended" type="boolean"/>
                  <element maxOccurs="unbounded" minOccurs="0" name="udf">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="extension">
                          <complexType>
                            <sequence>
                              <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="warning" type="string"/>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="lines">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="action" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="actionMode" type="string"/>
                  <element maxOccurs="unbounded" minOccurs="0" name="characteristics">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="extension">
                          <complexType>
                            <sequence>
                              <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="value">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="extension">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="type" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="valueFrom" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="valueTo" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="customerItemID" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="deliveryAddress">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="country" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="line1" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="line2" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="line3" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="locality" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="postCode" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="region" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="supplementaryLocation" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="extension">
                    <complexType>
                      <sequence>
                        <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="inventoryID" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="lineNumber" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="linkID" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="notes" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="productID" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="productVersion" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="quantity" type="integer"/>
                  <element maxOccurs="1" minOccurs="0" name="requiredByDate" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="requiredOnDate" type="string"/>
                  <element maxOccurs="unbounded" minOccurs="0" name="slaID" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="status" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="statusChanged" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="subscriberID" type="string"/>
                  <element maxOccurs="unbounded" minOccurs="0" name="udf">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="extension">
                          <complexType>
                            <sequence>
                              <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="uom" type="string"/>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="orderID" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="orderRef" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="orderResultRequest">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="orderRequest">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="extension">
                          <complexType>
                            <sequence>
                              <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="header">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="customerID" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="deliveryAddress">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="country" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="line1" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="line2" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="line3" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="locality" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="postCode" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="region" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="supplementaryLocation" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="extension">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="invoiceAddress">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="country" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="line1" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="line2" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="line3" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="locality" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="postCode" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="region" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="supplementaryLocation" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="notes" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="orderPriority" type="integer"/>
                              <element maxOccurs="1" minOccurs="0" name="requiredByDate" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="requiredOnDate" type="string"/>
                              <element maxOccurs="unbounded" minOccurs="0" name="slaID" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="subscriberID" type="string"/>
                              <element maxOccurs="unbounded" minOccurs="0" name="udf">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="extension">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                                        </sequence>
                                      </complexType>
                                    </element>
                                    <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="unbounded" minOccurs="0" name="line">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="action" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="actionMode" type="string"/>
                              <element maxOccurs="unbounded" minOccurs="0" name="characteristic">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="extension">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                                        </sequence>
                                      </complexType>
                                    </element>
                                    <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                    <element maxOccurs="unbounded" minOccurs="0" name="value">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="extension">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                                              </sequence>
                                            </complexType>
                                          </element>
                                          <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="type" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="valueFrom" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="valueTo" type="string"/>
                                        </sequence>
                                      </complexType>
                                    </element>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="customerItemID" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="deliveryAddress">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="country" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="line1" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="line2" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="line3" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="locality" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="postCode" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="region" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="supplementaryLocation" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="extension">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="inventoryID" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="lineNumber" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="linkID" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="notes" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="productID" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="productVersion" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="quantity" type="integer"/>
                              <element maxOccurs="1" minOccurs="0" name="requiredByDate" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="requiredOnDate" type="string"/>
                              <element maxOccurs="unbounded" minOccurs="0" name="slaID" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="subscriberID" type="string"/>
                              <element maxOccurs="unbounded" minOccurs="0" name="udf">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="extension">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="unbounded" minOccurs="0" name="any" type="string"/>
                                        </sequence>
                                      </complexType>
                                    </element>
                                    <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="uom" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="orderID" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="orderRef" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <element name="GetOrderDetailsSchemaElement" type="tns:GetOrderDetailsSchemaElementType"/>
</schema>
